@font-face {
    font-family: MuliExtraBold;
    src: url(/assets/fonts/muli-extrabold.ttf);
}

@font-face {
    font-family: MuliRegular;
    src: url(/assets/fonts/muli-regular.ttf);
}

@font-face {
    font-family: Muli-Bold;
    src: url(/assets/fonts/muli-bold.ttf);
}

@font-face {
    font-family: Muli-Italic;
    src: url(/assets/fonts/muli-italic.ttf);
}

* {
    margin: 0;
}

ul {
    padding-inline-start: 0px;
}

.title {
    font-family: 'MuliExtraBold', sans-serif;
}

.text {
    font-family: 'MuliRegular';
    line-height: 1.8;
}

.btn {
    padding: 0 34px;
    border-radius: 35px;
    font-size: 24px;
    font-family: 'MuliExtraBold', sans-serif;
    border: none;
    color: #fff;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
}

.btn:focus {
    outline: auto;
    font-size: 18px;
}


/* HEADER */

.header {
    background: url(/assets/images/header-bg-img.png) no-repeat;
    height: 100vh;
    background-position: center;
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1720px;
    width: 100%;
    margin: 0 auto;
    padding-top: 75px;

}

.header__wrapper {
    display: flex;
    align-items: center;
}

/* 
.header__nav {} 
*/

.nav__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.nav__item {
    margin-right: 35px;
}

.nav__link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'MuliExtraBold', sans-serif;
    color: #fff;
}

.header__logo {
    position: absolute;
    left: 50%;
    margin-top: 90px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* 
.logo {}
.logo__link {}
.logo__img {}

.personal {} 
*/
.header__personal {
    margin-right: 90px;
}

/* .header__personal::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 47px;
    height: 2px;
    right: 280px;
    top: 90px;
    background-image: url(/assets/images/icon-line_header.png);

} */

.personal__list {
    list-style: none;
    display: flex;
}

.personal__item {
    margin-right: 45px;
}

/* 
.personal__link {}
.personal__img {}
.header__social {}
.social {} 
*/

.social__list {
    list-style: none;
    display: flex;
}

.social__item--top {
    margin-right: 10px;
}

/* 
.social__link {}
.social__img {} 
*/

.header_btn {
    height: 70px;
    width: 280px;
    margin: 0 auto;
    margin-top: 125px;
    background-color: #0aa566;
}


/* SMOOTHIE */

.smoothie {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.smoothie__title {
    display: flex;
    color: #f7ae3b;
    font-size: 50px;
}

.smoothie__text {
    display: flex;
    max-width: 920px;
    text-align: center;
}

.smoothie__wrapper {
    display: flex;
    justify-content: center;
    max-width: 920px;
    flex-wrap: wrap;
    margin-bottom: 160px;
}

.smoothie__features {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 190px;
    height: 124px;
    margin-top: 65px;
}

/* 
.smoothie__img {}
.smoothie__subtitle {} 
*/

/* ABOUT */

.about {
    background-color: #15846d;
    display: flex;
    justify-content: center;
}

.about__container {
    display: flex;
    justify-content: space-around;
    width: 1524px;
    padding-top: 60px;
}

.about__structure {
    width: 615px;
}

.about__title {
    font-size: 55px;
    color: #fff;
}

.about__title--green {
    color: #cae941;
}

.about__item {
    color: #fff;
    list-style: none;
    line-height: 1.8;
    background: url(/assets/images/icon-marker.png) no-repeat 0px 4px;
    padding-left: 30px;
}

.about_btn.btn.btn--orange-border {
    margin-top: 50px;
    padding: 14px 135px 14px 30px;
    border: 2px solid #f8b231;
    font-size: 24px;
    background-color: #15846d;
    color: #fff;
}

/* 
.about__img {}
.about__list {} 
*/

/* PRODUCTS */

.products {
    display: flex;
    overflow: scroll;
    width: 100vw;
}

.products__column {
    width: 480px;
    height: 720px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
}

.products__column--chocolate {
    background-color: #662e18;

}

.products__column--vegan {
    background-color: #18846d;
}

.products__column--lemon {
    background-color: #f8af3f;

}

.products__column--turmeric {
    background-color: #c5461b;

}

/* 
.products__img {} 
*/

.products__subtitle {
    font-family: 'Muli-Bold';
    font-size: 24px;
    color: #fff;
    margin: 30px 0 0 0;

}

.products__item {
    font-family: 'Muli-Italic';
    font-size: 21px;
    color: #fff;
    margin: 10px 0 50px 0;
}

.products__btn {
    padding: 15px 125px 15px 25px;
    background-color: inherit;
    border: 2px solid #fff;
    font-size: 21px;
}

/* STORY */

.story {
    display: flex;
    justify-content: center;
}

.story__container {
    display: flex;
    justify-content: space-between;
    max-width: 1310px;
    width: 100%;
    margin: 120px;
}

.story__wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    align-self: center;
    width: 580px;
}

.story__title {
    font-size: 50px;
    color: #f7ae3b;
    margin: 0;
}

.story__text {
    font-size: 18px;
    color: #1e1e1e;
    margin: 40px 0 85px 0;
}

.story__btn {
    background-color: #0aa566;
    color: #fff;
    padding: 20px 150px 20px 30px;
}

/* 
.story__picture {}
.story__img {} 
*/

/* REVIEWS */

.reviews {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #68311b;
}

.reviews__container {
    display: flex;
    justify-content: center;
    margin: 120px 0 105px 0;
}

.reviews__wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-self: center;
}

.reviews__inner {
    margin-bottom: 70px;
}

.reviews__title {
    font-size: 50px;
    margin: 115px 0 0 0;
    color: #b3742d;
}

.reviews__title--special {
    color: #f2612d;
}

.reviews__desc {
    color: #fff;
    font-size: 18px;
    width: 480px;
    line-height: 1.8;
}

.reviews__copy {
    color: #b3742d;
    font-size: 18px;
    margin-top: 10px;
}

.reviews__userpic {
    margin-left: 50px;
}

/* 
.reviews__img {}
.reviews__btn.btn.btn-left {}
.reviews__btn.btn.btn-right {} 
*/


/* BLOG */

.blog {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.blog__container {
    display: flex;
    flex-direction: column;
    margin: 90px 0 190px 0;
}

.blog__wrapper {
    display: flex;
    flex-direction: row;
}

.blog__title {
    font-size: 50px;
    color: #f7ae3b;
    margin-bottom: 45px;
}

.blog__excerpt {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 645px;
    border-top: #f7ae3b 10px solid;
}

.blog__subtitel {
    font-family: 'MuliExtraBold', sans-serif;
    font-size: 30px;
    color: #f2612d;
    padding: 0 0 0 60px;
    margin: 50px 0 20px 0;
}

.blog__meta {
    font-size: 16px;
    font-family: 'MuliRegular';
    color: #1e1e1e;
    padding: 0 0 0 60px;

}

.blog__text {
    font-size: 18px;
    color: #1e1e1e;
    padding: 0 0 0 120px;
}

.blog__link {
    text-decoration: none;
    color: #1e1e1e
}

/* 
.blog__img {} 
*/

/* INSTAGRAM */

.instagram {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.instagram__container {
    display: flex;
    overflow: scroll;
    width: 100vw;
}

.instagram__inner {
    height: 388px;
    width: 384px;
    flex: 0 0 auto;
}

.instagram__title {
    font-size: 24px;
    color: #0aa566;
    display: flex;
}

.instagram__title-img {
    margin-right: 10px;
}

/* 
.instagram__img {} 
*/

/* FOOTER */

.footer {
    display: flex;
    flex-direction: column;
    background-color: #f6a83d;
}

.footer__container {
    display: flex;
    justify-content: space-around;
    margin: 55px 0 125px 0;
}

.footer__logo {
    margin-top: 85px;
}

/* 
.footer__info {}
.info {} 
*/

.info__title {
    font-size: 26px;
    color: #fff;

}

.info__list {
    font-family: 'Muli-Bold';
    line-height: 1.8;
    font-size: 18px;
    color: #6d450c;
    list-style: none;
}

/* 
.info__item {} 
*/

.footer__payment {
    display: flex;
    flex-direction: column;
}

.payment__wrapper {
    display: flex;
    flex-direction: row;
    width: 250px;
    flex-wrap: wrap;
}

.payment__inner {
    margin: 10px 15px 0 0;
}

.payment__title {
    font-size: 26px;
    color: #fff;
}

/* 
.payment__img {} 
*/

.footer__feedback {
    width: 495px;
    height: 175px;
    display: flex;
    flex-direction: column;
}

.feedback__form {
    font-family: 'Muli-Bold';
    font-size: 17px;
    color: #6d450c;
}

.feedback__newsletter {
    padding: 20px 0px 20px 55px;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
}

.feedback__title {
    font-size: 26px;
    color: #fff;
}

.feedback__subtitel {
    font-family: 'MuliExtraBold', sans-serif;
    font-size: 18px;
    color: #6d450c;
    margin: 20px 60px 0 0;
}

.feedback__social {
    display: flex;
    padding-left: 180px;
}

.feedback__list {
    list-style: none;
    display: flex;
}

/* 
.feedback__item {}
.feedback__link {}
.feedback__list-item {} 
*/

.feedback__img {
    margin-right: 20px;
}

.footer__bottom {
    background-color: #6c2c1c;
    display: flex;
    align-items: center;
}

.footer__copyright {
    margin: 0 auto;
    color: #af8a82;
    font-family: MuliRegular;
    font-size: 13px;
    padding: 20px 20px;
}

/* 
.footer__span {}
.footer__button {}
.footer__btn.btn {} 
*/