@font-face {
    font-family: MuliExtraBold;
    src: url(/assets/fonts/muli-extrabold.ttf);
}
@font-face {
    font-family: MuliRegular;
    src: url(/assets/fonts/muli-regular.ttf);
}
ul{
    padding-inline-start: 0px;
}
.title {
    font-family:'MuliExtraBold', sans-serif;
}
.text{
    font-family: 'MuliRegular' ;
}
body {
    background-color: rgb(255, 255, 255);
}
.container {
}

.btn{
    border-radius:35px;
    -webkit-border-radius:35px;
    -moz-border-radius:35px;
    -ms-border-radius:35px;
    -o-border-radius:35px;
    font-size: 24px;
    padding: 0 34px;
    color: #fff;
    border: none;
    font-family: 'MuliExtraBold', sans-serif;
}
.btn:focus {
    outline:auto;
    font-size: 18px;
}

 /* хедар */

.header {
    background:url(/assets/images/header-bg-img.png) no-repeat;
    height:100vh;
    background-position: center;
    background-size: cover;
    color: #fff; /*для чего? */
    display: flex;
    flex-direction: column;
}
.header__top {
    display: flex;
    justify-content: space-between;
    padding: 70px 100px 100px;
    flex-wrap: wrap;
    align-items: center;
}
.header__wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 420px;
}
.header__nav{}

.nav__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.nav__item {
    margin-right: 35px;
}

.nav__link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-family:'MuliExtraBold', sans-serif;
    color: #fff;
}

/* .header__logo{}

.logo {}

.logo__link {}

.logo__img {}

.header__personal{
}

.personal {} */

.personal__list {
    list-style: none;
    display: flex;
    justify-content: ;
    -webkit-border-radius:1;
    -moz-border-radius:1;
    -ms-border-radius:1;
    -o-border-radius:1;
}

.personal__item {
    margin-right: 45px;
}

/* .personal__link {}

.personal__img {}

.header__social {}

.social {} */

.social__list {
    list-style: none;
    display: flex;
}

.social__item--top {
    margin-right: 10px;
}

/* .social__link {}

.social__img {} */

.header_btn{
    height: 70px;
    width: 280px;
    align-self: center;
}

.btn--green {
    background-color:#0aa566
}

/* смузи контект */

.smoothie {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.smoothie__titel {
    display: flex;
    color:#f7ae3b;
    font-size: 50px;
}



.smoothie__text {
    display: flex;
    max-width: 920px;
    text-align: center;
    
}

.smoothie__wrapper {
    display: flex;
    justify-content: center;
    max-width: 920px;
    flex-wrap: wrap;
    margin-bottom: 160px;
    
}

.smoothie__features {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:190px;
    height:124px;
    margin-top: 65px;
}

.smoothie__img {
}

.smoothie__subtitel {
}

.about {
    background-color:#15846d;
    display: flex;
    justify-content: center;
}
.about__container{
    display: flex;
    justify-content: space-around;
    width:1524px;
    padding-top: 60px;
}
.about__img {}

.about__structure {
    width: 615px;
}

.about__titel {
    font-size: 55px;
    color: #fff;
}
.about__titel-green{
    color: #cae941;
}
.title {}

.about__list {

}

.about__item {
    color: #fff;
    list-style: none;
    line-height: 1.8;
    background: url(/assets/images/icon-marker.png) no-repeat  0px 4px;
    padding-left: 30px;
}

.about_btn.btn.btn--orange-border {
    margin-top: 50px;
    padding: 14px 135px 14px 30px;
    border: 2px solid #f8b231;
    font-size: 24px;
    background-color:#15846d;
    color:#fff;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
}

.products {
    display: flex;
}

.products__column {
    width:480px;
    height:720px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.products__column--chocolate {
    background-color:#662e18
}
.products__column--vegan {
    background-color:#18846d
}

.products__column--lemon {
    background-color:#f8af3f

}

.products__column--turmeric {
    background-color:#c5461b

}

.products__img {}

.products__subtitel {}

.products__item {}

.products__btn.btn {}



.story {}

.story__wrapper {}

.story__titel.titel {}

.story__text.text {}

.story__btn.btn {}

.story__picture {}

.story__img {}

.reviews {}

.reviews__titel {}

.reviews__wrapper {}

.reviews__desc {}

.reviews__copy {}

.reviews__userpic {}

.reviews__img {}

.reviews__btn.btn.btn-left {}

.reviews__btn.btn.btn-right {}

.blog {}

.blog__wrapper {}

.blog__titel.titel {}

.blog__img {}

.blog__excerpt {}

.blog__subtitel {}

.blog__meta {}

.blog__text.text {}

.blog__link {}

.instagram {}

.instagram__titel.titel {}

.instagram__titel-img {}

.instagram__container {}

.instagram__inner {}

.instagram__img {}

.footer {}

.footer__logo.logo {}

.footer__info.info {}

.info__subtitel {}

.info__list {}

.info__item {}

.footer__payment {}

.footer__subtitel {}

.footer__inner {}

.footer__img {}

.footer__feedback {}

.footer__form {}

.footer__newsletter {}

.footer__subtitel.subtitel--brown {}

.footer__social {}

.footer__list {}

.footer__item {}

.footer__link {}

.footer__list-item {}

.footer__copyright {}

.footer__span {}

.footer__button {}

.footer__btn.btn {}