@font-face {
    font-family: MuliExtraBold;
    src: url(assets/fonts/muli-extrabold.ttf);
}

@font-face {
    font-family: MuliRegular;
    src: url(assets/fonts/muli-regular.ttf);
}

@font-face {
    font-family: Muli-Bold;
    src: url(assets/fonts/muli-bold.ttf);
}

@font-face {
    font-family: Muli-Italic;
    src: url(assets/fonts/muli-italic.ttf);
}

* {
    margin: 0;
    box-sizing: border-box;
}

ul {
    padding-inline-start: 0px;
}

.container {
    margin: 0 auto;
    padding: 0 5px 0 5px;
    max-width: 1440px;
    width: 100%;

}

.title {
    font-family: 'MuliExtraBold', sans-serif;
}

.text {
    font-family: 'MuliRegular';
    font-size: 18px;
    line-height: 1.8;
}

.btn {
    padding: 0 34px;
    border-radius: 35px;
    font-size: 24px;
    font-family: 'MuliExtraBold', sans-serif;
    border: none;
    color: #fff;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
}



/* HEADER */

.header {
    background: url(assets/images/header-bg-img.png) no-repeat;
    height: 100vh;
    background-position: center;
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.header__top {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-top: 75px;


}

.header__navigation {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 111;
}

.header__wrapper {
    display: flex;
    align-items: center;
}

/* 
.header__nav {} 
*/

.nav__list {
    display: flex;
    list-style: none;
}

.nav__item {
    margin-right: 35px;
}

.nav__link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'MuliExtraBold', sans-serif;
    color: #fff;
}

.header__logo {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.header__burger-btn {
    position: fixed;
    display: none;
    top: 40px;
    right: 40px;
    border: 0;
    background: transparent;
    z-index: 111;
}

.header__burger-img {
    width: 50px;

}

/* 
.logo {}
.logo__link {}
.logo__img {}

.personal {} 
*/
.header__personal {
    margin-right: 90px;
    position: relative;
}

.header__personal::after {
    content: '';
    position: absolute;
    width: 47px;
    height: 2px;
    right: -45px;
    top: 10px;
    background-image: url(assets/images/icon-line_header.png);

}

.personal__list {
    list-style: none;
    display: flex;
}

.personal__item {
    margin-right: 45px;
}

/* 
.personal__link {}
.personal__img {}
.header__social {}
.social {} 
*/

.social__list {
    list-style: none;
    display: flex;
}

.social__item--top {
    margin-right: 10px;
}

/* 
.social__link {}
.social__img {} 
*/

.header__btn {
    height: 70px;
    width: 280px;
    position: relative;
    margin: 0 auto;
    margin-top: 125px;
    padding-right: 124px;
    background-color: #0aa566;
}

.header__btn::after {
    content: '';
    position: absolute;
    top: 27px;
    right: 35px;
    width: 33px;
    height: 17px;
    background-image: url(assets/images/icon-arrow_btn.png);
}

.header__btn:hover {
    cursor: pointer;
}

/* SMOOTHIE */

.smoothie {
    padding: 90px 0 100px 0;
}

.smoothie__title {
    margin-bottom: 35px;
    text-align: center;
    color: #f7ae3b;
    font-size: 50px;
}

.smoothie__text {
    max-width: 915px;
    margin: 0 auto;
    margin-bottom: 65px;
    text-align: center;
}

.smoothie__grid-container {
    display: grid;
    max-width: 1010px;
    margin: 0 auto;
    gap: 2px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 180px;
    background-color: #f6edde;
}

.smoothie__grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    background-color: #fff;
}


.smoothie__features {
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 25%;
    height: 200px;
    padding-bottom: 25px;
    border-bottom: 1px solid;
}

.smoothie__img {
    margin: auto;
}

.smoothie__subtitle {
    color: #f2612d;
    font-family: 'MuliExtraBold', sans-serif;
    font-size: 25px;
    margin-bottom: 34px;
}

/* 


*/

/* ABOUT */

.about {
    background-color: #15846d;

}

.about__wrapper {
    display: flex;
    
}

.about__wrap-img {
    transform: translate(-110px, 80px);
    -webkit-transform: translate(-110px, 80px);
    -moz-transform: translate(-110px, 80px);
    -ms-transform: translate(-110px, 80px);
    -o-transform: translate(-110px, 80px);
}

.about__structure {
    padding-top: 90px;
    max-width: 611px;

}

.about__title {
    font-size: 55px;
    color: #fff;
}

.about__title--green {
    color: #cae941;
    position: relative;
}

.about__title--green::after {
    content: '';
    position: absolute;
    top: 60px;
    right: -15px;
    width: 458px;

    height: 15px;
    background-image: url(assets/images/icon-line_about.png);
}

.about__list {
    margin-top: 30px;
}

.about__item {
    padding-left: 30px;
    list-style: none;
    line-height: 1.8;
    background: url(assets/images/icon-marker.png) no-repeat 0px 4px;
    color: #fff;
}


.about__btn {
    width: 460px;
    height: 60px;
    position: relative;
    margin-top: 50px;
    text-align: start;
    font-size: 24px;
    border: 2px solid #f8b231;
    background-color: #15846d;
    color: #fff;
}

.about__btn::after {
    content: '';
    position: absolute;
    top: 20px;
    right: 30px;
    width: 33px;
    height: 17px;
    background-image: url(assets/images/icon-arrow_btn.png);
}

.about__btn:hover {
    cursor: pointer;
}



/* PRODUCTS */

.products {

    /* overflow: scroll;
    width: 100vw; */
}

.products__wrapper {
    display: flex;
    overflow-x: scroll;
    min-width: 100%;
}

.products__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 480px;
    padding: 130px 0 80px 0;
}

.products__column--chocolate {
    background-color: #662e18;

}

.products__column--vegan {
    background-color: #18846d;
}

.products__column--lemon {
    background-color: #f8af3f;

}

.products__column--turmeric {
    background-color: #c5461b;

}

.products__img {}

.products__subtitle {
    margin-top: 30px;
    font-family: 'Muli-Bold';
    font-size: 24px;
    color: #fff;
}

.products__item {
    margin-top: 10px;
    font-family: 'Muli-Italic';
    font-size: 21px;
    color: #fff;
}

.products__btn {
    width: 190px;
    height: 60px;
    position: relative;
    padding-right: 110px;
    margin-top: 50px;
    font-size: 21px;
    background-color: inherit;
    border: 2px solid #fff;
}

.products__btn:hover {
    cursor: pointer;
}

.products__btn::after {
    content: '';
    position: absolute;
    top: 20px;
    right: 30px;
    width: 33px;
    height: 17px;
    background-image: url(assets/images/icon-arrow_products.png);
}

/* STORY */

.story {
    padding: 120px 0 120px 0;
}

.story__container {
    display: flex;
    justify-content: space-between;
    max-width: 1310px;
    width: 100%;

}

.story__wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    align-self: center;
    width: 580px;
}

.story__title {
    font-size: 50px;
    color: #f7ae3b;
    margin: 0;
}

.story__text {
    font-size: 18px;
    color: #1e1e1e;
    margin: 40px 0 85px 0;
}

.story__btn {
    width: 325px;
    height: 70px;
    position: relative;
    padding-right: 149px;
    color: #fff;
    background-color: #0aa566;

}

.story__btn:hover {
    cursor: pointer;
}

.story__btn::after {
    content: '';
    position: absolute;
    top: 27px;
    right: 30px;
    width: 33px;
    height: 17px;
    background-image: url(assets/images/icon-arrow_btn.png);
}

.story__picture {
    position: relative;
}

.story__picture::before {
    content: '';
    width: 290px;
    height: 216px;
    position: absolute;
    top: 22px;
    left: -170px;
    background-image: url(assets/images/story_stamp.png)
}

/* 

.story__img {} 
*/

/* REVIEWS */

.reviews {
    background-color: #68311b;
    padding: 115px 0 75px 0;
}

.reviews__wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.reviews__inner {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 120px;
}

.reviews__inner::after {
    content: '';
    width: 410px;
    height: 301px;
    position: absolute;
    top: -370px;
    right: 50px;
    background-image: url(assets/images/reviews_dots.png)
}

.reviews__desc {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-self: center;
    position: relative;
    z-index: 1;
}

.reviews__desc::before {
    content: '';
    width: 768px;
    height: 148px;
    position: absolute;
    top: -86px;
    left: -157px;
    background-image: url(assets/images/reviews-sarah_a.png);
    z-index: -1;
}

.reviews__row-btn {
    max-width: 160px;
    margin: 0 auto;
    margin-top: 105px;
}

.reviews__title {
    font-size: 50px;
    color: #b3742d;
}

.reviews__titel--special {
    color: #f2612d;
    text-transform: uppercase;
}

.reviews__text {
    color: #fff;
    font-family: 'MuliRegular';
    font-size: 18px;
    width: 457px;
    line-height: 1.8;
}

.reviews__copy {
    color: #b3742d;
    font-size: 18px;
    margin-top: 10px;
}

.reviews__userpic {
    margin-left: 50px;
    z-index: 2;
}

.reviews__btn {
    outline: none;
    /* Для синий ободки */
    border: 0;
    background: transparent;
}

.reviews__btn--left {
    margin-right: 72px;
}

.reviews__btn:hover {
    cursor: pointer;
}

/* 
.reviews__btn--right{}
.reviews__img {}
*/


/* BLOG */

.blog {
    padding: 90px 0 190px 0;
}

.blog__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog__inner {
    display: flex;
    flex-direction: row;
}

.blog__title {
    font-size: 50px;
    color: #f7ae3b;
}

.blog__img {
    margin-top: 45px;
}

.blog__excerpt {
    display: flex;
    flex-direction: column;
    max-width: 539px;
    align-self: center;
    margin: 98px 0 0 60px;
    /* width: 645px; */
}

.blog__subtitle {
    font-family: 'MuliExtraBold', sans-serif;
    font-size: 29px;
    color: #f2612d;
    margin: 50px 0 0 0px;
    position: relative;
}

.blog__subtitle::after {
    content: '';
    width: 687px;
    height: 12px;
    position: absolute;
    top: -55px;
    left: -110px;
    z-index: -1;
    background-repeat: no-repeat;
    background-image: url(assets/images/icon-line_blog.png);
}


.blog__meta {
    font-size: 16px;
    font-family: 'MuliRegular';
    color: #1e1e1e;
    margin-top: 20px;
}

.blog__text {
    font-size: 18px;
    color: #3e3e3e;
    margin: 20px 0 0 58px;
}

.blog__link {
    text-decoration: none;
    font-family: 'Muli-Bold';
    color: #1e1e1e;
    position: relative;
}

.blog__link::after {
    content: '';
    position: absolute;
    top: 12px;
    right: -35px;
    width: 18px;
    height: 10px;
    background-image: url(assets/images/icon-arrow_blog.png);
}

/* INSTAGRAM */

.instagram {
    padding: 0 0 10px 0;
}

.instagram__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.instagram__container {
    display: flex;
    overflow: scroll;
    width: 100vw;
    margin-top: 45px;
}

.instagram__wrap-img {
    height: 388px;
    width: 384px;
    flex: 0 0 auto;
    position: relative;
}

.instagram__title {
    font-size: 24px;
    color: #0aa566;
    display: flex;
}

.instagram__title-img {
    margin-right: 10px;
    position: relative;
}

.instagram__img {}

.instagram__inner::after {
    content: '';
    width: 27px;
    height: 27px;
    position: absolute;
    top: 340px;
    right: 20px;
    background-image: url(assets/images/instagram_icon-instagram.png);
}


/* FOOTER */

.footer {
    background-color: #f6a83d;
}

.footer__wrapper {
    display: flex;
    justify-content: space-around;
    padding-top: 75px;
}

.footer__logo {
    margin-top: 85px;
}

/* 
.footer__info {}
.info {} 
*/

.info__title {
    font-size: 26px;
    color: #fff;

}

.info__list {
    font-family: 'Muli-Bold';
    font-size: 18px;
    line-height: 1.8;
    list-style: none;
}

.info__link {
    text-decoration: none;
    color: #6d450c;

}

/* 
.info__item {} 
*/

.footer__payment {
    display: flex;
    flex-direction: column;
}

.payment__wrapper {
    display: flex;
    flex-direction: row;
    width: 250px;
    flex-wrap: wrap;
}

.payment__inner {
    margin: 10px 15px 0 0;
}

.payment__title {
    font-size: 26px;
    color: #fff;
}

/* 
.payment__img {} 
*/

.footer__feedback {
    width: 495px;
    height: 175px;
    display: flex;
    flex-direction: column;
}

.feedback__form {
    font-family: 'Muli-Bold';
    font-size: 17px;
    color: #6d450c;
    position: relative;
}

.feedback__form::before {
    content: '';
    width: 24px;
    height: 19px;
    position: absolute;
    top: 51px;
    left: 20px;
    background-image: url(assets/images/footer-icon-mail.png);

}

.feedback__newsletter {
    margin-top: 30px;
    padding: 18px 0px 20px 55px;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
}

.feedback__title {
    font-size: 26px;
    color: #fff;
}

.feedback__subtitel {
    font-family: 'MuliExtraBold', sans-serif;
    font-size: 18px;
    color: #6d450c;
    margin: 4px 40px 0 0;
}

.feedback__social {
    display: flex;
    position: relative;
    margin: 30px 0 0 190px;
}

.feedback__social::after {
    content: '';
    width: 48px;
    height: 43px;
    position: absolute;
    top: -15px;
    left: -62px;
    background-image: url(assets/images/footer_icon_arrow.png)
}

.feedback__list {
    list-style: none;
    display: flex;
}

/* 
.feedback__item {}
.feedback__link {}
.feedback__list-item {} 
*/

.feedback__img {
    margin-right: 23px;
}

.footer__bottom {
    margin-top: 120px;
    background-color: #6c2c1c;
    display: flex;
    align-items: center;
    position: relative;
}

.footer__copyright {
    margin: 0 auto;
    color: #af8a82;
    font-family: MuliRegular;
    font-size: 13px;
    padding: 20px 20px;
}

.footer__btn {
    position: relative;
    outline: none;
    border: 0;
    background: transparent;
    font-family: 'Muli-Bold';
    font-size: 16px;
    color: #fff;
}

.footer__btn::after {
    content: '';
    width: 50px;
    height: 50px;
    position: absolute;
    right: -53px;
    top: -43px;
    background-image: url(assets/images/footer_botton-arrow.png)
}

.footer__btn:hover {
    cursor: pointer;
}

.footer__button {
    margin: 0 160px 0 0;
    position: absolute;
    right: 0;
}

/* 
.footer__span {}


*/

